.item-card {
    width: 300px;
    height: 420px;
    overflow: hidden;
    float: left;
    /* position: relative; */
    margin: 10px;
    padding: 10px;
    display: block;
}

.item-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

img {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.item-text {
    height: 15px;
    margin-bottom: 5px;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.star-ratings {
    margin-bottom: 30px;
}

.item-price {
    font-size: 18px;
}