ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    margin: 5px;
    background-color: rgb(246, 226, 226);
    padding: 10px;
}

li:hover{
    background-color: rgb(205, 92, 82);
}

.active {
    background-color: rgb(205, 92, 82);
}
